@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap");

/** Corps du document **/
body {
	background-color: yellow;

}


/** Titres centrés**/
.centered-title {
	font-size: 30px;
	font-style : italic;
	font-family: "Ancizar Sans";
	text-align: center;

}

/** Paragraphes **/
p {
	font-size: 20px;
	font-style: oblique;
	font-family: "Ancizar Sans";
}


/** Légendes d'images **/
figcaption {
	font-size: 15px;
	font-style: oblique;
	font-family: "Ancizar Sans";
	color:blueviolet;
}


/** Image de présentation **/
#presentation_img {
	display: block;
	margin : 0 auto;
	height : 1000px;
	width : 1200px;
}

/** iframes **/
iframe {
	width: 560px;
	height : 315px;
}




/** Images **/
img {
	border-radius: 20px;

	
}


/** Liens **/
a {
	font-size : 20px;
	font-style: italic;
	font-family: "Ancizar Sans";
	color: violet;

}


/** Informations de pied de document **/
footer {
	background-color: white;
	font-size: 15px;
	font-style: italic;
	font-family: "Ancizar Sans";
}


/** Règles spéciales pour les fenêtres de navigateur inférieures à 800 pixels **/
@media (max-width : 800px){

	/** Titres centrés**/
.centered-title {
	font-size: 15px;
	font-style : italic;
	font-family: "Ancizar Sans";
	text-align: center;

}

/** Paragraphes **/
p {
	font-size: 15px;
	font-style: oblique;
	font-family: "Ancizar Sans";
}


/** Légendes d'images **/
figcaption {
	font-size: 15px;
	font-style: oblique;
	font-family: "Ancizar Sans";
	color:blueviolet;
}

/** iframes **/
iframe {
	width: 300px;
	height : 170px;
}


/** Images **/
img {
	border-radius: 10px;

	
}

/** Liens **/
a {
	font-size : 15px;
	font-style: italic;
	font-family: "Ancizar Sans";
	color: violet;

}


/** Informations de pied de document **/
footer {
	background-color: white;
	font-size: 15px;
	font-style: italic;
	font-family: "Ancizar Sans";
}

	
}